@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Welcome!</h1>

<p>Think this is cool? Check out <a class="drip-link" href="https://dripjobs.com">DripJobs!</a></p>

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter IncrementAmount="10" />

<style>
    .drip-link, .drip-link:hover {
        color: #715dff;
    }
</style>